In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
df=pd.read_csv(r"C:\Users\Vishal S\OneDrive\Desktop\net.csv")
df

,imdb_id,title,type,rating,numVotes,genres,isAdult
0,tt4052886,Lucifer,tvSeries,8.1,250884.0,"Crime,Drama,Fantasy",0
1,tt0993840,Army of the Dead,movie,5.8,110780.0,"Action,Crime,Horror",0
2,tt7255502,The Kominsky Method,tvSeries,8.2,28795.0,"Comedy,Drama",0
3,tt0108778,Friends,tvSeries,8.9,861843.0,"Comedy,Romance",0
4,tt9251798,Ragnarok,tvSeries,7.5,26606.0,"Action,Drama,Fantasy",0
...,...,...,...,...,...,...,...
7003,tt9777386,Merry Happy Whatever,tvEpisode,6.1,221.0,Comedy,0
7004,tt9790434,The Morning Show,tvEpisode,NaN,NaN,\N,0
7005,tt9817600,Losers,tvEpisode,8.0,221.0,"Documentary,Sport",0
7006,tt9842922,Firefly Lane,tvEpisode,7.3,380.0,"Drama,Romance",0
7007,tt9865968,Medical Police,tvEpisode,6.6,133.0,Comedy,0

In [15]:
df.shape

(7008, 7)

In [16]:
df.isnull().sum()

imdb_id        0
title          0
type           2
rating      1008
numVotes    1008
genres         2
isAdult        0
dtype: int64

In [5]:
df1= df.dropna()

In [6]:
df1

,imdb_id,title,type,rating,numVotes,genres,isAdult
0,tt4052886,Lucifer,tvSeries,8.1,250884.0,"Crime,Drama,Fantasy",0
1,tt0993840,Army of the Dead,movie,5.8,110780.0,"Action,Crime,Horror",0
2,tt7255502,The Kominsky Method,tvSeries,8.2,28795.0,"Comedy,Drama",0
3,tt0108778,Friends,tvSeries,8.9,861843.0,"Comedy,Romance",0
4,tt9251798,Ragnarok,tvSeries,7.5,26606.0,"Action,Drama,Fantasy",0
...,...,...,...,...,...,...,...
7002,tt9771894,Ares,tvEpisode,6.5,191.0,"Drama,Horror,Mystery",0
7003,tt9777386,Merry Happy Whatever,tvEpisode,6.1,221.0,Comedy,0
7005,tt9817600,Losers,tvEpisode,8.0,221.0,"Documentary,Sport",0
7006,tt9842922,Firefly Lane,tvEpisode,7.3,380.0,"Drama,Romance",0
7007,tt9865968,Medical Police,tvEpisode,6.6,133.0,Comedy,0

In [7]:
df1.isnull().sum()

imdb_id     0
title       0
type        0
rating      0
numVotes    0
genres      0
isAdult     0
dtype: int64

In [8]:
df1['rating'].value_counts()

rating
7.2    247
7.3    218
6.7    206
7.4    204
7.1    203
      ...
9.4      2
2.3      2
1.9      1
1.7      1
9.7      1
Name: count, Length: 77, dtype: int64

In [9]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df1['genres'])

In [10]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [11]:
def recommend_movie(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = df1[df1['title'] == title].index[0]

    # Get a list of cosine similarities for that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the indices of the most similar movies
    sim_scores = sim_scores[1:6]  # Get top 5 recommendations
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 5 most similar movies
    return df['title'].iloc[movie_indices]

In [12]:
recommended_movies = recommend_movie('Lucifer')
print("Recommended Movies for 'Lucifer':")
print(recommended_movies)

Recommended Movies for 'Lucifer':
125                 Girl From Nowhere
231    Jumanji: Welcome to the Jungle
249              When Calls the Heart
603                        Easy Rider
785                           Messiah
Name: title, dtype: object

In [13]:
recommended_movies = recommend_movie('Friends')
print("Recommended Movies for 'Friends':")
print(recommended_movies)

Recommended Movies for 'Friends':
48     How I Met Your Mother
236             Unbelievable
241             Lo imposible
247                   Colony
349              Castle Rock
Name: title, dtype: object